.gallery {
  margin: 30px 0;
}

.gallery__images {
  margin: 30px 0;
  text-align: center;

  .img-thumbnail {
    margin: 20px 10px;
  }

  .gallery__images__container {
    position: relative;
    cursor: pointer;

    &:hover .gallery__images__container--hover  {
      opacity: 1;
    }
  }

  .gallery__images__container--hover {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 500ms;
  }

  .gallery__images__container--hover__text {
    width: 100%;
    margin: 0 0 0.75em 0;
  }
}

.gallery__images__likes {
  margin: 15px 5px 9px 5px;
  text-align: left;
}

.gallery__images__likes__btn {
  background-color: @pink;
  color: white;
}